# dependencies
node_modules/

# build / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# app outputs
output/
tmp-out/
m3uHandlerUploads/
*.strm

# config / secrets
.env
.env.*
.DS_Store